<div class="contactt" align="center">
	<h2 class="page-header">Contact</h2>
	<h4 class="admin-info">Hello everybody. I’m SonLe, a free handsome bootstrap theme coded by Framgia.inc. A really simple theme for those wanting to showcase their work with a cute & clean style.</h4>
	<fieldset>
		<form class="form-group">
			<div class="form-group contact-form">
				<input type="text" class="form-control" placeholder="Name" >
			</div>
			<div class="form-group contact-form">
				<input type="text" class="form-control" placeholder="Email" >
			</div>
			<div class="form-group contact-form">
				<textarea class="form-control" placeholder="Comment" ></textarea>
			</div>
			<div class="form-actions"  align="left">
          <button type="submit" class="btn btn-info" >SUBMIT</button>
      </div>
      <input type="hidden" name="submitted" id="submitted" value="true" />
		</form>
	</fieldset>
</div>