<div class="page-header">
  <% if user_signed_in? %>
    <p id="intro">
      I n s p i r a t i o n T o u r
      <br/>
      <span>
          Share your inspiration and see what's inspiring others.
      </span>
    </p>
  <% else %>
    <p id = "intro">
      I n s p i r a t i o n T o u r
      <br/>
      <span>
        Share your inspiration and see what's inspiring others.
      </span>
    </p>
  <% end %>
</div>