<div class="page-header">
    <p id="intro">
      <%= image_tag "logo.png", size: "200x50" %>
      <br/>
      <span>
          Share your inspiration and see what's inspiring others.
      </span>
    </p>
</div>